.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.eventos{
  min-height: 70vh;
  
}

.login{  
  min-height: 70vh;
  
  max-width: 500px;
  min-width: 100px; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px gray;
  margin :10px auto;
}

.login h1{    
  padding: 10px;
  background-color:  rgb(167, 50, 199);
  color :#fff;
  text-align: center;

}

.register{  
  
  height: 90vh;
  max-width: 500px;
  min-width: 100px; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px gray;
  margin :10px auto;
  scroll-behavior: smooth;
  
}

.register h1{    
  padding: 10px;
  background-color: rgb(167, 50, 199);
  color :#fff;
  text-align: center;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

